{% extends "::base.html.twig" %}

{% block title %}BlogBundle:UtilisateurController:profil{% endblock %}

{% block body %}
<h1>
    {% if(id) %}
            Gérer le profil de l'utilisateur {{ id }}
    {% else %}
            Gérer mon profil
    {% endif %}
</h1>

    <p>{{ app.user.username }}</p>
    <p>Rôles :
    <ul>
    {% for role in roles %}
        <li>{{ role.role }}</li>
    {% endfor %}
</ul></p>
{% endblock %}
