{% extends "::base.html.twig" %}

{% block title %}BlogBundle:Thematique:list{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chosen.min.css') }}" />
{% endblock %}

{% block body %}
    <h1>Mes thématiques</h1>

    <form>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" id="search" class="form-control" placeholder="Recherche" aria-describedby="basic-addon1">
        </div>
    </form>


    <div class="row test">

    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.js"></script>

    <script id="theTmpl" type="text/x-jsrender">
        <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <button class="ladda-button btn btn-primary btn-sauvegarder hidden" data-id="<%: id %>" data-style="expand-right"><span class="ladda-label">Enregistrer</span></button>
                    <img src="http://www.apcars.fr/wp-content/uploads/2014/02/p-recherche.jpg" alt="..." class="img-responsive">
                    <div class="caption">
                        <h3><%: nom %></h3>
                        <p><%: description %></p>
                        <div class="row choixThematiques">
                            <div class="blocLecteur col-xs-12" data-id="<%: id %>">
                                <div class="row">
                                    <div class="col-xs-3"><span>Lecteur :</span></div>
                                    <div class="col-xs-9">
                                        <div class="btn-group" id="status" data-toggle="buttons">
                                            <%if lecteur%>
                                                <label class="btn btn-default btn-on active">
                                                    <input type="radio" value="1" name="lecteur_<%: id %>" data-id="<%: id %>" checked="checked">Oui</label>
                                                <label class="btn btn-default btn-off">
                                                    <input type="radio" value="0" name="lecteur_<%: id %>" data-id="<%: id %>">Non</label>
                                            <%else%>
                                                <label class="btn btn-default btn-on">
                                                    <input type="radio" value="1" name="lecteur_<%: id %>" data-id="<%: id %>">Oui</label>
                                                <label class="btn btn-default btn-off active">
                                                    <input type="radio" value="0" name="lecteur_<%: id %>" data-id="<%: id %>" checked="checked">Non</label>
                                            <%/if%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="blocExpert col-xs-12 <%if !lecteur%>hidden<%/if%>" data-id="<%: id %>">
                                <div class="row">
                                    <div class="col-xs-3"><span>Expert :</span></div>
                                    <div class="col-xs-9">
                                        <div class="btn-group" id="status" data-toggle="buttons">
                                            <%if expert%>
                                                <label class="btn btn-default btn-on active">
                                                    <input type="radio" value="1" name="expert_<%: id %>" data-id="<%: id %>" checked="checked">Oui</label>
                                                <label class="btn btn-default btn-off">
                                                    <input type="radio" value="0" name="expert_<%: id %>" data-id="<%: id %>">Non</label>
                                            <%else%>
                                                <label class="btn btn-default btn-on">
                                                    <input type="radio" value="1" name="expert_<%: id %>" data-id="<%: id %>">Oui</label>
                                                <label class="btn btn-default btn-off active">
                                                    <input type="radio" value="0" name="expert_<%: id %>" data-id="<%: id %>" checked="checked">Non</label>
                                            <%/if%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </script>

    <script>
        var Application = function() {
            this.timer = null;

            this.fetchThematiques = function (data) {
                console.log(data);
                $.views.settings.delimiters("<%", "%>");

                var dataFormatee = [];

                for(i in data)
                {
                    console.log(data[i]);
                    dataFormatee.push({
                        "id": i,
                        "nom": data[i].nom,
                        "description": data[i].description,
                        "lecteur": data[i].lecteur,
                        "expert": data[i].expert
                    });
                }

                console.log(dataFormatee);

                var template = $.templates("#theTmpl");

                var htmlOutput = template.render(dataFormatee);

                //console.log("génération output");
                $(".test").html(htmlOutput);
            }
        };

        var app = null;
        var l = null;

        $(document).ready(function(){
            app = new Application();
            // Create a new instance of ladda for the specified button


            $("#search").keyup(function(){
                console.log("triggered");
                //console.log($(this).val());
                if($(this).val() != "")
                {
                    clearTimeout(app.timer);  //clear any running timeout on key up
                    app.timer = setTimeout(function() { //then give it a second to see if the user is finished
                        $.get({
                            url: "{{ path("thematiques_search") }}/" + $(this).val(),
                            dataType:"JSON",
                            success: function(data){
                                app.fetchThematiques(data);
                            }
                        });
                    }.bind($(this)), 1000);
                }
                else
                {
                    clearTimeout(app.timer);
                    app.timer = setTimeout(function() { //then give it a second to see if the user is finished
                        $.get({
                            url: "{{ path("thematiques_search") }}",
                            dataType: "JSON",
                            success: function(data){
                                app.fetchThematiques(data);
                            }
                        });
                    }.bind($(this)), 1000);
                }
            });

            // Au changement du statut lecteur à non
            $(document).on("change","input[name^='lecteur_']",function(e){
                var idThematique = $(this).data('id');
                var lecteur = $(this).val();

                $(".thumbnail > .btn[data-id='" + idThematique + "']").removeClass("hidden");

                if(lecteur == 0) // Si l'utilisateur n'est plus lecteur, il ne peut plus être expert non plus.
                {
                    $(".blocExpert[data-id='" + idThematique + "']").addClass("hidden");
                }
                else
                {
                    $(".blocExpert[data-id='" + idThematique + "']").removeClass("hidden");
                }
            });

            // Au changement du statut lecteur à non
            $(document).on("change","input[name^='expert_']",function(e){
                var idThematique = $(this).data('id');
                $(".thumbnail > .btn[data-id='" + idThematique + "']").removeClass("hidden");
            });

            $(document).on("click",".thumbnail > .btn",function(e){
                var idThematique = $(this).data('id');
                var lecteur = $(document).find(".blocLecteur[data-id='" + idThematique + "']").find("input:checked").val();
                var expert  = $(document).find(".blocExpert[data-id='" + idThematique + "']").find("input:checked").val();

                l = Ladda.create( document.querySelector( '.btn-sauvegarder[data-id="' + idThematique + '"]' ) );
                l.start();

                $.post({
                    url:"{{ path('thematiques_user_change') }}",
                    data: {
                        thematique: idThematique,
                        lecteur: lecteur,
                        expert: expert
                    },
                    success:function(reponse){
                        console.log(reponse);
                        l.stop();
                    }
                });
            });

            $("#search").trigger("keyup");
        });


    </script>


{% endblock %}