{% extends "::base.html.twig" %}

{% block title %}BlogBundle:Thematique:list{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/chosen.min.css') }}" />
{% endblock %}

{% block body %}
    <h1>Mes thématiques</h1>

    <form>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            <input type="text" id="search" class="form-control" placeholder="Recherche" aria-describedby="basic-addon1">
        </div>
    </form>


    <div class="row test">

    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.84/jsrender.js"></script>

    <script id="theTmpl" type="text/x-jsrender">
        <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://www.apcars.fr/wp-content/uploads/2014/02/p-recherche.jpg" alt="..." class="img-responsive">
                    <div class="caption">
                        <h3><%: nom %></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eaque exercitationem expedita inventore, ipsum obcaecati qui sunt ut. Assumenda iste laborum nisi omnis repellendus temporibus voluptate? Deserunt praesentium ratione suscipit!</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3"><span>Lecteur :</span></div>
                                    <div class="col-xs-9">
                                        <div class="btn-group" id="status" data-toggle="buttons">
                                            <label class="btn btn-default btn-on active">
                                                <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Oui</label>
                                            <label class="btn btn-default btn-off">
                                                <input type="radio" value="0" name="multifeatured_module[module_id][status]">Non</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-3"><span>Expert :</span></div>
                                    <div class="col-xs-9">
                                        <div class="btn-group" id="status" data-toggle="buttons">
                                            <label class="btn btn-default btn-on active">
                                                <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Oui</label>
                                            <label class="btn btn-default btn-off">
                                                <input type="radio" value="0" name="multifeatured_module[module_id][status]">Non</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </script>

    <script>
        var Application = function() {
            this.timer = null;

            this.fetchThematiques = function (data) {
                console.log(data);
                $.views.settings.delimiters("<%", "%>");

                var dataFormatee = [];

                for(i in data)
                {
                    console.log(data[i]);
                    dataFormatee.push({
                        "nom": data[i].nom
                    });
                }

                console.log(dataFormatee);

                var template = $.templates("#theTmpl");

                var htmlOutput = template.render(dataFormatee);

                //console.log("génération output");
                $(".test").html(htmlOutput);
            }
        };

        var app = null;

        $(document).ready(function(){
            app = new Application();

            $("#search").keyup(function(){
                console.log("triggered");
                //console.log($(this).val());
                if($(this).val() != "")
                {
                    clearTimeout(app.timer);  //clear any running timeout on key up
                    app.timer = setTimeout(function() { //then give it a second to see if the user is finished
                        $.get({
                            url: "{{ path("thematiques_search") }}/" + $(this).val(),
                            dataType:"JSON",
                            success: function(data){
                                app.fetchThematiques(data);
                            }
                        });
                    }.bind($(this)), 1000);
                }
                else
                {
                    clearTimeout(app.timer);
                    app.timer = setTimeout(function() { //then give it a second to see if the user is finished
                        $.get({
                            url: "{{ path("thematiques_search") }}",
                            dataType: "JSON",
                            success: function(data){
                                app.fetchThematiques(data);
                            }
                        });
                    }.bind($(this)), 1000);
                }
            });

            $("#search").trigger("keyup");
        });


    </script>


{% endblock %}